html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.ui.sidebar.sidebarAdminPanel.menu {
  margin-top: 65px !important;
}
.ui.button.sidebarToggle {
  position: fixed;
  z-index: 999;
  right: 0;
  top: 0;
  margin: 10px;
}
@media only screen and (max-width: 800px){
.item.headerMenus {
  display: none !important;
}
}
.card {
  border-radius: 25px;
  padding: 25px 15px;
  margin: 50px 0;
  width: 300px;
  box-shadow: 0 2px 5px #ccc;
  text-align: center;
}

.name {
  color: #2d3436;
}

.card img {
  margin: 10px 20px 5px 10px;
}

.circle-img {
  border-radius: 10%;
  border: 7px solid #dfe6e9;
  width: 200px;
  height: 140px;
  align-self: center;
}